---
layout: default
title: Home
---

<div class="bootstrap-wrapper">
<div class="container">

<div class="posts row">
  {% for post in paginator.posts %}
    <div class="col col-12 col-xl-4">
	  {% include post_thumbnail.html post=post %}
    </div>
  {% endfor %}
</div>

<div class="pagination row">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>

</div>
</div>
