{% comment %}
	Post body, which may be included in multiple places.
	{% endcomment %}

<div class="post">
  <h1 class="post-title">
		<a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a>
	</h1>
	<div class="post-head">
		<span class="post-date">{{ include.post.date | date_to_string }}</span>
		{% comment %}
			Hacky shit to check for an empty array in Liquid, apparently{% endcomment %}
		{% capture difference %} {{ include.post.tags | size | minus:1 }} {% endcapture %}
		{% if difference contains '-' %}
		{% else %}
  		<span class="post-tags">
      <i class="fas fa-tags"></i>
  			{% for tag in include.post.tags %}
  				<a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      	{% endfor %}
      </span>
		{% endif %}
  </div>
  {% if include.post.content %}
    {{ include.post.content }}
  {% else %}
    {{ content }}
  {% endif %}
</div>
