{% comment %}
	Post body, which may be included in multiple places.
{% endcomment %}

{% assign splitName = include.post.name | split: "." | first | split: '-' %}
{% assign nameLen = splitName | size | minus: 3 %}
{% assign nameFromPath = splitName | slice: 3, nameLen | join: " " %}

<div class="post">
  {% if include.post.title or include.post.collection=="microblog" %}
  <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ include.post.url }}">
      {% if include.post.title and include.post.title != "" %}
        {{ include.post.title }}
      {% else %}
        {{ nameFromPath }}
      {% endif %}
    </a>
	</h1>
  {% endif %}

	<div class="post-head">
		<span class="post-date">{{ include.post.date | date_to_string }}</span>

    {% assign techTags = include.post.techTags | split: ", " %}
    {% assign tags = include.post.tags | concat: techTags %}

		{% comment %}
			Hacky shit to check for an empty array in Liquid, apparently{% endcomment %}
		{% capture difference %} {{ tags | size | minus:1 }} {% endcapture %}
		{% if difference contains '-' %}
		{% else %}
  		<span class="post-tags">
      <i class="fas fa-tags"></i>
  			{% for tag in tags %}
  				<a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      	{% endfor %}
      </span>
		{% endif %}

  </div>
  {% if include.post.content %}
    {{ include.post.content }}
  {% else %}
    {{ content }}
  {% endif %}
</div>
